@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-v27-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-v27-latin-regular.woff') format('woff');
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

#app {
  /* top: 0;
  left: 0; */
  width: 100vw;
  min-height: 100%;
  /* position: relative; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "overlay";
  /* pointer-events: none; */
}

#main_layout {
  display: grid;
  grid-template-columns: 25em 25em auto;
  height: 100%;
}

#info_pane {
  overflow: hidden;
  height: 100%;
  background-color: #bebebe;
}

.instruction_image {
  padding-right: 1em;
  width: 30px
}

#instructions {
  display: flex;
  flex-direction: column
}

a {
  background-color: #aaaaaa;
  display: flex;
  padding: 0.5em;
  margin: 0.2em;
  color: #444444;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

.blur {
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}

.full_page {
  width: 100vw;
  height: 100vh;
  pointer-events: auto;
}

.overlay {
  grid-area: overlay;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2em;
  box-sizing: border-box;
  height: 100%;
}


#render_canvas {
  width: 100%;
  height: 100%;
  /* display: block; */

  grid-area: overlay;
  pointer-events: auto;
}

#ui {
  pointer-events: none;

  grid-area: overlay;
  /* margin: 0.5%; */
  z-index: 20;
  /* background: none; */
  position: relative;
  /* pointer-events: none; */
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.5) 12%,
      rgba(0, 0, 0, 0) 16%,
      rgba(0, 0, 0, 0) 100%);
}

#dat_gui {
  position: absolute;
  top: 2px;
  left: 2px;
  pointer-events: auto;
}

#timeline {
  color: whitesmoke;
  position: absolute;
  bottom: 0%;
  left: 20px;
  display: flex;
  pointer-events: auto;
}

#timeline>li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  list-style: none;
  color: gray;
  font-family: sans-serif;
  font-weight: bold;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
  zoom: 1.2;
  border: 1px solid #aaaaaa;
}

/* TODO: Add SASS processing */
/* #timeline > li:after {
  content: "";
  border-top: 3px solid #aaaaaa;
  left: 90px;
  width: 350px;
  position: absolute;
  z-index: -1;
} */

#timeline>li:hover {
  color: yellowgreen;
  cursor: pointer;
}

#axiom_logo {
  top: 3em;
  position: relative;
  align-self: center;
  margin-bottom: 7em;
  width: 60%;
  filter: var(--negative_image);
}

.mouse_usage_illustation {
  font-size: 0.7em;
}

.instruction_row {
  display: flex;
  margin: 0.5em;
  align-items: center;
}