Language: Cpp
Standard: Cpp11
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
IndentWidth: 4
BreakBeforeBraces: Stroustrup
BreakConstructorInitializers: AfterColon
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterStruct: false
  SplitEmptyFunction: false
  AfterControlStatement: true
  AfterFunction: true
SortIncludes: false
Cpp11BracedListStyle: true
ColumnLimit: 120